<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	h1{
		margin-left: 10px;
	}
	#icons{
		display: inline-block;
	}
	.icon{
		width: 40px;
	}
	#ek{
		width: 60px;
		margin-left: -10px;
		margin-right: -10px;
	}
</style>
</head>
<body>
	<h1>푸드스타일</h1>
	<div>
		<img src="../images/step.PNG">
		<div id="icons">
			<img class="icon" src="../images/icon/vegi.png">베지<br>
			<img class="icon" src="../images/icon/milk.png">밀크<br>
			<img class="icon" src="../images/icon/egg.png">에그<br>
			<img class="icon" id="ek" src="../images/icon/ek.png">에크<br>
			<img class="icon" src="../images/icon/orke.png">오크<br>
			<img class="icon" src="../images/icon/ggoke.png">꼬크<br>
			<img class="icon" src="../images/icon/meke.png">미크<br>
		</div>
	</div>
	
</body>
</html>